<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Dashboard</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body style="background-color: antiquewhite; color: black;">


<p>Welcome!</p>
<div class="container">
    <span th:text="${message}"></span>
    <a class="btn btn-primary" th:href="@{'/admin/new/'}">Add User</a>
    <div class="container">
        <h2>Liste des utilisateurs</h2>
        <table class="table table-striped table-dark">
            <thead class="thead-light">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Mood of the Month</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.id}"></td>
                <td scope="row" th:text="${user.firstName}"></td>
                <td th:text="${user.lastName}"></td>
                <div th:switch="${user.motm}">
                    <td th:case="0">Questionnaire non rempli     <img th:src="@{https://cdnjs.cloudflare.com/ajax/libs/twemoji/13.1.0/72x72/274c.png}" th:height="40"></td>
                    <td th:case="1">Très en colère     <img th:src="@{https://cdnjs.cloudflare.com/ajax/libs/twemoji/13.1.0/72x72/1f92c.png}" th:height="40"/></td>
                    <td th:case="2">En colère     <img th:src="@{https://cdnjs.cloudflare.com/ajax/libs/twemoji/13.1.0/72x72/1f624.png}" th:height="40"></td>
                    <td th:case="3">Triste     <img th:src="@{https://cdnjs.cloudflare.com/ajax/libs/twemoji/13.1.0/72x72/1f62d.png}" th:height="40"></td>
                    <td th:case="4">Heureux     <img th:src="@{https://cdnjs.cloudflare.com/ajax/libs/twemoji/13.1.0/72x72/1f603.png}" th:height="40"></td>
                    <td th:case="5">Très heureux     <img th:src="@{https://cdnjs.cloudflare.com/ajax/libs/twemoji/13.1.0/72x72/1f60a.png}" th:height="40"></td>
                </div>
                <td>
                    <a th:href="@{'/admin/editemployee/' + ${user.id}}" class="btn btn-primary">Edit</a>
                    <a th:href="@{'/admin/delete/' + ${user.id}}" class="btn btn-primary">Delete</a>
                    <a th:href="@{/sendHtmlEmail/{email}}" class="btn btn-primary">Send Mail</a>

                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="container">
    <h2>Récapitulatif des Humeurs</h2>
    <table class="table table-striped table-dark" title="Humeur du Mois">
        <thead class="thead-light">
        <tr>
            <th scope="col">Très Contents</th>
            <th scope="col">Contents</th>
            <th scope="col">Tristes</th>
            <th scope="col">En colère</th>
            <th scope="col">Très en colère</th>
        </tr>
        </thead>
        <tbody>

        <tr>

            <td>2</td>
            <td>4</td>
            <td>1</td>
            <td>0</td>
            <td>0</td>
        </tr>
        </tbody>
    </table>

    <h2>Moyenne des humeurs du mois</h2>
    <tr>
        <td> th:switch="${CalculateAvgMotm.user}">
        <td th:case="0">Questionnaire non rempli     <img th:src="@{https://cdnjs.cloudflare.com/ajax/libs/twemoji/13.1.0/72x72/274c.png}" th:height="40"></td>
        <td th:case="1">Très en colère     <img th:src="@{https://cdnjs.cloudflare.com/ajax/libs/twemoji/13.1.0/72x72/1f92c.png}" th:height="40"/></td>
        <td th:case="2">En colère     <img th:src="@{https://cdnjs.cloudflare.com/ajax/libs/twemoji/13.1.0/72x72/1f624.png}" th:height="40"></td>
        <td th:case="3">Triste     <img th:src="@{https://cdnjs.cloudflare.com/ajax/libs/twemoji/13.1.0/72x72/1f62d.png}" th:height="40"></td>
        <td th:case="4">Heureux     <img th:src="@{https://cdnjs.cloudflare.com/ajax/libs/twemoji/13.1.0/72x72/1f603.png}" th:height="40"></td>
        <td th:case="5">Très heureux     <img th:src="@{https://cdnjs.cloudflare.com/ajax/libs/twemoji/13.1.0/72x72/1f60a.png}" th:height="40"></td></td>

    </tr>
</div>

</body>

</html>



