<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>MOTM</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body style="background-color: darkslategrey; color: floralwhite;">

<!-- Page Wrapper -->
<!--<div id="wrapper">-->

<!--  &lt;!&ndash; Sidebar &ndash;&gt;-->
<!--  <th:block th:include="/_sidebar"></th:block>-->
<!--  &lt;!&ndash; End of Sidebar &ndash;&gt;-->

<!--  &lt;!&ndash; Content Wrapper &ndash;&gt;-->
<!--  <div id="content-wrapper" class="d-flex flex-column">-->

<!--    &lt;!&ndash; Main Content &ndash;&gt;-->
<!--    <div id="content">-->

<!--      &lt;!&ndash; Topbar &ndash;&gt;-->
<!--      &lt;!&ndash; End of Topbar &ndash;&gt;-->

<!--      &lt;!&ndash; Begin Page Content &ndash;&gt;-->
<!--      <div class="container-fluid">-->

<!--        &lt;!&ndash; Page Heading &ndash;&gt;-->
<!--        <div class="d-sm-flex align-items-center justify-content-between mb-4">-->
<!--          <h1 class="h3 mb-0 text-gray-800">Ajout d'étudiant</h1>-->
<!--        </div>-->

<!--        <div class="row">-->

          <!-- Area Chart -->


          <div class="container">
            <a th:href="@{'/admin/new'}" class="btn btn-primary">Add</a>
            <div class="container">
              <table class="table table-striped table-dark">
                <thead class="thead-light">
                <tr>
                  <th scope="col">First Name</th>
                  <th scope="col">Last Name</th>
                  <th scope="col">Age</th>
                  <th scope="col">Date de naissance</th>
                  <th scope="col">Adresse mail</th>
                  <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user : ${users}">
                  <td scope="row" th:text="${user.firstName}"></td>
                  <td th:text="${user.lastName}"></td>
                  <td th:text="${user.age}"></td>
                  <td th:text="${user.datenaiss}"></td>
                  <td th:text="${user.email}"></td>
                  <td>
                    <a th:href="@{'/admin/editemployee/' + ${user.id}}" class="btn btn-primary">Edit</a>
                    <a th:href="@{'/admin/delete/' + ${user.id}}" class="btn btn-primary">Delete</a>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>

</body>

</html>



