<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title >Sondage Humeur du Mois</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body style="background-color: antiquewhite; color: black;">


<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800" style="text-align: center; width: 100%; display: flex; justify-content: center;">Sondage : Votre humeur du Mois</h1>
       <br>
        <br>
        <br>
    </div>

    <div class="row">

        <!-- Area Chart -->
        <div class="col-xl-8 col-lg-7">

            <form method="post" th:action="@{'/motm_survey/' + ${user.id}}" th:object="${user}">
                <h5>Merci de vérifier que ces informations sont correctes : </h5>
                <div class="form-group">
                    <label for="firstNameInput">Prénom</label>
                    <input type="text" th:field="*{firstName}" th:value="*{firstName}" class="form-control" id="firstNameInput" aria-describedby="firstNameHelp" placeholder="Entrez votre prénom">
                    <small id="firstNameHelp" class="form-text text-muted">Having a first name is always more convenient.</small>
                </div>
                <div class="form-group">
                    <label for="lastNameInput">Nom de famille</label>
                    <input type="text" th:field="*{lastName}" th:value="*{lastName}" class="form-control" id="lastNameInput" aria-describedby="lastNameHelp" placeholder="Entrez votre nom de famille">
                    <small id="lastNameHelp" class="form-text text-muted">Having a last name is always more convenient.</small>
                </div>
                <div class="form-group">
                    <label for="ageInput">Age</label>
                    <input type="text" th:field="*{age}" th:value="*{age}" class="form-control" id="ageInput" aria-describedby="ageHelp" placeholder="Entrez votre age (Optionnel)">
                    <small id="ageHelp" class="form-text text-muted">We wont force you to give us your age. Especially if you're ashamed to be old.</small>
                </div>
                <div class="form-group">
                    <label for="datenaissInput">Date de naissance</label>
                    <input type="text" th:field="*{datenaiss}" th:value="*{datenaiss}" class="form-control" id="datenaissInput" aria-describedby="datenaissHelp" placeholder="Entrez votre date de naissance (Optionnel)">
                </div>
                <div class="form-group">
                    <label for="emailInput">Adresse mail</label>
                    <input type="text" th:field="*{email}" th:value="*{email}" class="form-control" id="emailInput" aria-describedby="emailHelp" placeholder="Entrez votre email (Optionnel)">
                </div>
                <h5>Veuillez sélectionner votre humeur ressentie ce mois ci : </h5>

                <div>
                    <input type="radio" th:field="*{motm}" id="mood_very_happy" name="mood" value="5">
                    <label for="mood_very_happy">Très Heureux     <img th:src="@{https://cdnjs.cloudflare.com/ajax/libs/twemoji/13.1.0/72x72/1f60a.png}" th:height="40"></label>
                </div>
                <div>
                    <input type="radio" th:field="*{motm}" id="mood_happy" name="mood" value="4">
                    <label for="mood_happy">Heureux     <img th:src="@{https://cdnjs.cloudflare.com/ajax/libs/twemoji/13.1.0/72x72/1f603.png}" th:height="40"></label>
                </div>
                <div>
                    <input type="radio" th:field="*{motm}" id="mood_soso" name="mood" value="3">
                    <label for="mood_happy">Triste     <img th:src="@{https://cdnjs.cloudflare.com/ajax/libs/twemoji/13.1.0/72x72/1f62d.png}" th:height="40"></label>
                </div>
                <div>
                    <input type="radio" th:field="*{motm}" id="mood_angry" name="mood" value="2">
                    <label for="mood_happy">En Colère     <img th:src="@{https://cdnjs.cloudflare.com/ajax/libs/twemoji/13.1.0/72x72/1f624.png}" th:height="40"></label>
                </div>
                <div>
                    <input type="radio" th:field="*{motm}" id="mood_very_angry" name="mood" value="1">
                    <label for="mood_very_angry">Très en Colère     <img th:src="@{https://cdnjs.cloudflare.com/ajax/libs/twemoji/13.1.0/72x72/1f92c.png}" th:height="40"/></label>
                </div>
                <input name="submit" type="submit"  value="Submit">
                <a th:href="@{/}">Back<span><i class=""></i></span></a>
            </form>
        </div>

        <!-- Pie Chart -->
        <div class="col-xl-4 col-lg-5">

        </div>
    </div>




</div>


</div>

</body>

</html>

